<% content_for :heading do%>
  <div class='header_content'>
    <h2 class='page-header span12'>Listing of places tagged</h2>
  </div>  
<% end %>

<div class='row'>
  <% @places.each do |place|%>
  <div class='span12 solo_place'>
    <h3 class='red'><%=place.name.capitalize%></h3>
      <%=place.description%>
    </p>
  </div>
  <% end%>
</div>
