<!DOCTYPE html>
<html>
<head>
  <title>AutosuggestAndTagging</title>
  <%#= stylesheet_link_tag    "bootstrap/css/bootstrap.css", "bootstrap/css/bootstrap-responsive.css"%> 
  <%= stylesheet_link_tag   "application", "jquery.tagsinput" %>
  <%= javascript_include_tag "application", "jquery.tagsinput" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  <%= yield %>
  </div>
</body>
</html>
